*{
    margin: 0px;
    padding: 0px;
}
/*css vem aqui em baixo*/
body{
   font-family: 'verdana', geneva, tahoma, sans-serif;
   background-color: #8f6d6d;
}

header {
   position: fixed;
}

body a{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(236, 237, 228);
}

   body a:hover{
    text-decoration: underline;
    font-weight: bold;
    
   }
   #apres {
    margin: 20px;
    padding-top: 60px;
   }
   #sobre {
    margin: 20px 0px;
    padding-top:40px;
   }
   #habil {
    margin-top: 20px;
   }

.ICONE{
   fill: #9fcbc985;
   stroke: #FFFF;
   stroke-width: 5px;
   width: 75px;
   height: 75px;
}
footer ul {
   display: flex;
   gap: 50px;
   padding-top: 60px;
   padding-inline: 50px;
   justify-content: space-around;
   list-style-type: none;
}

#sobre {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 60px;
    padding-inline: 50px;
}

.iconesContainer {
    border: red solid 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.iconesBloco {
    border: blue solid 2px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}


.iconeLink {
    width: 50px;
    height: 50px;

}

.modoClaro{
    background-color: #fff;
    color:#222;
}
    .modoEscuro{
        background-color: #6b4242;
        color: #fff;
    }